<div class="container">
    <div class="row">
      <div class="col">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <h4>
            FIND <span>HOSPITAL</span>
          </h4>
          <div class="form-row ">
            <div class="form-group col-lg-6">
              <label for="inputPatientAddress">Your Address </label>
              <input type="text" class="form-control" placeholder={{patientFullAddress}} readonly>
            </div>
            
            <div class="form-group col-lg-6">
              <label for="inputSpecialtyGroup">Specialty Group</label>
              <select id="inputSpecialtyGroup" ng-init="" name="inputSpecialtyGroup" class="form-control wide" (change)="onChange($event)"
               (ngModel)="form.inputSpecialtyGroup" #inputSpecialtyGroup="ngModel" >
                <option value="null" selected>Please Select</option>
                <option *ngFor="let speGroup of speGroups$" value={{speGroup.id}}>{{speGroup.name}}</option>
              </select>
            </div>

          </div>
          <div class="form-row ">
            <div class="form-group col-lg-6">
            </div>
            <div class="form-group col-lg-6">
              <label id="inputSpecialtyLabel" for="inputSpecialtyGroup">Specialty</label>
              <select id="inputSpecialty" name="inputSpecialty" class="form-control wide" [(ngModel)]="form.inputSpecialty" #inputSpecialty="ngModel">
                <option *ngFor="let spe of specialties$" value={{spe.id}} required>{{spe.name}}</option>
              </select>
            </div>
          </div>
          <div class="btn-box">
            <button type="submit" class="btn btn-primary px-4 ">Find Hospital</button>
          </div>
          
        <div class="alert alert-warning" *ngIf="f.submitted && !isSuccessful">
          Hospital search failed!<br />{{ errorMessage }}
        </div>
        </form>

        <!-- Hospital List -->
        <div class="jumbotron" *ngIf="isSuccessful">
          <ng-template *ngIf="hospitals$.length > 0; else noHospitalFound">
            <h3 class="profileHeader" >
              <strong>Nearest Hospitals</strong> 
            </h3> 
          </ng-template>
          <ng-template #noHospitalFound>
          <h3 class="profileHeader">
            <strong>No hospital was found within given perimeter ({{perimeter}}km)</strong> 
          </h3> 
          <p>Please contact your emergency service</p>
          </ng-template>
          <div class="col-md-8 profileDetails">
            <div class="card mb-3"  *ngFor="let hospital of hospitals$">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <h4 class="mb-0">Name</h4>
                  </div>
                  <div class="col-sm-8 text-secondary">
                    {{hospital.name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-4">
                    <h4 class="mb-0">Address</h4>
                  </div>
                  <div class="col-sm-8 text-secondary">
                    {{hospital.address}}, {{hospital.postCode}}, {{hospital.city}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-4">
                    <h4 class="mb-0">Distance in Km</h4>
                  </div>
                  <div class="col-sm-8 text-secondary">
                    {{hospital.formattedDistanceInKm}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-4">
                    <h4 class="mb-0">Distance in Time</h4>
                  </div>
                  <div class="col-sm-8 text-secondary">
                    {{hospital.formattedDistanceInTime}}
                  </div>
                </div>
                <hr>  
                <div class="row">
                  <div class="col-sm-4">
                    <h4 class="mb-0">Available beds</h4>
                  </div>
                  <div class="col-sm-8 text-secondary">
                    {{hospital.availableBeds}}
                  </div>
                </div>                
              </div>
            </div>
            </div>
        </div>
        <!-- End of Hospital list-->
      </div>
    </div>
</div>